{{> header }}


<!--<div class="nav_bar">
    <p class="nav_text">Navigation</p>
    <ul class="vertical ex">
        <div class="nav_item">
            <a class="active" href="javascript:void(0)">Home</a></li>
        </div>
        <div>
            <a class="active" href="javascript:void(0)">Profile</a></li>
        </div>
        <div>
            <a class="active" href="javascript:void(0)">Create Post</a></li>
        </div>
    </ul>
</div>-->

{{> nav }}
     


<div id="timeline_grid" class="home_list">
    {{#if movies.length}}
    <ul>
      {{#each movies}}
        <li>
          <h2>{{this.movietitle}}</h2>
          <p>{{this.moviedescription}}</p>
          <p><strong>Release Date:</strong> {{this.releasedate}}</p>
          <img src="{{this.movieimage}}" alt="{{this.movietitle}}" />
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No movies found.</p>
  {{/if}}

</div>

 {{> footer }}
