{{> header}}

{{> nav}}

<div id="timeline_grid" class="home_list">
  {{#if results.length}}
    <ul>
      {{#each results}}
        <li>
          <h2>{{this.movietitle}}</h2>
          <p><strong>Author:</strong> {{this.author}}</p>
          <p>{{this.moviedescription}}</p>
          <p><strong>Review:</strong> {{this.reviewbody}}</p>
          <p><strong>Release Date:</strong> {{this.releasedate}}</p>
          <img src="{{this.movieimage}}" alt="{{this.movietitle}}" style="max-width: 300px;" />
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No results found.</p>
  {{/if}}
</div>

{{> footer }}
