{{> header}}

{{> nav}}

<div class="container mt-5">
  <h1 class="text-center mb-4">Search Results</h1>

  {{#if error}}
    <div class="alert alert-danger text-center">{{error}}</div>
  {{/if}}

  {{#if results.length}}
    <div class="list-group">
      {{#each results}}
        <div class="list-group-item mb-3">
          <h4 class="mb-1">{{this.movietitle}}</h4>
          <p><strong>Author:</strong> {{this.author}}</p>

          {{#if this.moviedescription}}
            <p><strong>Movie Description:</strong> {{this.moviedescription}}</p>
          {{/if}}

          {{#if this.reviewbody}}
            <p><strong>Review:</strong> {{this.reviewbody}}</p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="text-center">No results found.</p>
  {{/if}}
</div>

{{> footer}}
